/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
html {
      min-height: 100%;
      overflow: hidden;
}

body {
      height: calc(100vh - 8em);
      padding: 4em;
      color: rgba(255, 255, 255, 0.75);
      font-family: 'Anonymous Pro', monospace;
      background-color: rgb(25, 25, 25);
}

.line {
      position: relative;
      top: 50%;
      width: 16em;
      margin: 0 auto;
      border-right: 2px solid rgba(255, 255, 255, 0.75);
      font-size: 180%;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;transform: translateY(-50%);
}

/*Animation*/

.typewriter {
      animation: typewriter 4s steps(40) 1s 1 normal both,
      blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
      0%{
            width: 0;
      }
      35% {
            width: 7em;
      }
      65% {
            width: 7em;
      }
      100% {
            width: 16em;
      }
}

@keyframes blinkTextCursor {
      from {
            border-right-color: rgba(255, 255, 255, 0.75);
      }
      to {
            border-right-color: transparent;
      }
}
